.thumbnail {
    width: 100%;
    margin-bottom: 6px;
}

.btn-delete {
    margin-bottom: 6px;
}

.edit-images {
    margin-bottom: 16px;
    padding-left: 0;
}

.upload-text {
    padding-top: 0 !important;
}
